<% unless cart.line_items.empty? %>
<div class="cart_title">Carts</div>
<table>
  <%= render(@cart.line_items) %>

  <tr class="total_line">
    <td colspan="2"></td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>

</table>

<%= button_to 'empty carts', @cart, method: :delete,
    confirm: 'really?' %>
<% end %>


